@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: "SF Pro";
  src: url("./SF-Pro.dmg");
} */

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background-color: #d5e5f7;
}

@layer base {
  h1 {
    @apply font-medium text-[18px] md:text-[35px] lg:text-[40px];
  }
  h2 {
    @apply font-bold text-[30px] md:text-[35px];
  }
  .rounded-x {
    @apply rounded-[10px];
  }
}
@keyframes fade {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
.animation {
  position: relative;
  height: 100vh;
  z-index: 100;
  width: 100%;
  opacity: 0;
  animation: fade 0.4s ease-in forwards;
  background: white;
}

.triangle-box {
  clip-path: polygon(
    76% 0,
    100% 0,
    100% 100%,
    55% 100%,
    50% 92%,
    45% 100%,
    0 100%,
    0% 70%,
    0 0,
    39% 0
  );
}

.triangle-box2 {
  clip-path: polygon(
    0% 0%,
    100% 0,
    100% 100%,
    51% 100%,
    50% 90%,
    49% 100%,
    0 100%
  );
}

.triangle {
  position: relative;
  text-align: left;
  background: transparent;
}
.triangle:before,
.triangle:after {
  content: "";
  position: absolute;
  background-color: inherit;
}
.triangle,
.triangle:before,
.triangle:after {
  width: 1em;
  height: 1em;
  border-top-right-radius: 35%;
}

.triangle {
  transform: rotate(-60deg) skewX(-30deg) scale(1, 0.866);
}
.triangle:before {
  transform: rotate(-135deg) skewX(-45deg) scale(1.414, 0.707)
    translate(0, -50%);
}
.triangle:after {
  transform: rotate(135deg) skewY(-45deg) scale(0.707, 1.414) translate(50%);
}

.img-wrap {
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(255, 255, 255, 0.5)
  );
}

.frame {
  width: 315px;
  height: 165px;
  margin: 20px;
  position: relative;
}

.overlay {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), transparent);
}




.trianglebox::after {
  content: "";
  position: absolute;
  /* margin: 0 auto; */
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 25px;
  background-color: #d5e5f7;
  z-index: 1000;
  border-radius: 50%;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
